<?xml version="1.0"?>
<!--
/*
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the GNU General Public License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/gpl-license
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@refersion.com so we can send you a copy immediately.
 *
 * @category   Webchat
 * @package    SnapSolv_Webchat
 * @copyright  Copyright (c) 2016 DRVYN, Inc.
 * @author	   SnapSolv Developer <suresh@snapsolv.com>
 * @license http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <SnapSolv_Webchat>
            <version>1.0.1</version>
        </SnapSolv_Webchat>
    </modules>
    <global>
		<models>
			 <webchat> <!-- Model Prefix -->
                <class>SnapSolv_Webchat_Model</class>
                <resourceModel>webchat_resource</resourceModel>
            </webchat>
    <!--  Resource Model is define at here -->

            <webchat_resource>
                <class>SnapSolv_Webchat_Model_Resource</class>
                <entities>
                    <webchat> <!-- define an new  entities for module -->
                        <table>webchat</table> <!-- define table -->
                    </webchat>
                </entities>
            </webchat_resource>
		 </models>
		  <resources>
            <webchat_setup>
                <setup>
                    <module>SnapSolv_Webchat</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </webchat_setup>
            <webchat_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </webchat_read>
            <webchat_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </webchat_write>
        </resources>
        <helpers>
            <webchat>
                <class>SnapSolv_Webchat_Helper</class>
            </webchat>
        </helpers>
		 <blocks>
            <webchat>
                <class>SnapSolv_Webchat_Block</class>
            </webchat>
        </blocks>
	 </global>
	 <adminhtml>
        <layout>
            <updates>
                <webchat module="Snapsolv_Webchat">
                    <file>webchat.xml</file>
                </webchat>
            </updates>
        </layout>
    </adminhtml>
	<frontend>
		<routers>
            <snapsolv_webchat>
                <use>standard</use>
                <args>
                    <module>SnapSolv_Webchat</module>
                    <frontName>webchat</frontName>
                </args>
            </snapsolv_webchat>
        </routers> 
		</frontend>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <snapsolv_webchat before="Mage_Adminhtml">SnapSolv_Webchat_Adminhtml</snapsolv_webchat>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
	<frontend>
		<layout>
            <updates>
                <SnapSolv_Webchat module="SnapSolv_Webchat">
                    <file>snapsolv_webchat.xml</file>
                </SnapSolv_Webchat>
            </updates>
        </layout>
	</frontend>
</config>
