<?xml version="1.0"?>
<!--
/*
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the GNU General Public License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/gpl-license
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@refersion.com so we can send you a copy immediately.
 *
 * @category   Webchat
 * @package    SnapSolv_Webchat
 * @copyright  Copyright (c) 2016 DRVYN, Inc.
 * @author	   SnapSolv Developer <suresh@snapsolv.com>
 * @license http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
	<tabs>
		<SnapSolv translate="label" module="webchat">
			<label>SnapSolv Webchat</label>
			<sort_order>306</sort_order>
		</SnapSolv>
	</tabs>
	<sections>
		<webchat translate="label" module="webchat">
			<label>SnapSolv Webchat Settings</label>
			<tab>SnapSolv_webchat</tab>
			<frontend_type>text</frontend_type>
			<sort_order>306</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<tab>SnapSolv</tab>
			<groups>
				<webchat_settings translate="label">
					<label>SnapSolv Webchat Settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					 <comment><![CDATA[To change your settings for Chat widget or Messaging defaults, login into your  <a href="https://signin.snapsolv.com" target="_blank">Snapsolv account here </a>and go to "Settings" and choose "Live Chat"]]></comment>
					<fields>
						<webchat_enable translate="label">
							<label>Enable Chat on Website?</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>0</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<comment><model>webchat/adminhtml_pages</model></comment>
						</webchat_enable>
						<webchat_pages translate="label">
							<label>Select pages for chat: </label>
							<frontend_type>multiselect</frontend_type>
	                        <source_model>webchat/system_config_source_cmspages</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</webchat_pages>
					</fields>
					</webchat_settings>
			</groups>
		</webchat>
	</sections>
</config>
